:root {
  --clr-primary-400: hsl(217, 10%, 25%);
  --clr-primary-600: hsl(220, 11%, 22%);
  --clr-primary-800: hsl(218, 11%, 19%);
  --clr-light-400: hsl(0, 0%, 93%);
  --clr-light-100: hsla(0, 0%, 93%, 0.7);
  --clr-green: hsl(156, 78%, 41%);
  --clr-green-opaque: hsl(156, 78%, 41%, 0.4);
  --clr-red: hsl(0, 84%, 64%);
  --clr-red-opaque: hsl(0, 84%, 64%, 0.4);
  --clr-blue: hsl(213, 47%, 47%);
  --clr-blue-opaque: hsl(213, 47%, 47%, 0.4);
  --clr-yellow: hsl(42, 100%, 71%);
  --clr-yellow-opaque: hsl(42, 100%, 71%, 0.4);
  --ff-headings: "Poppins", sans-serif;
  --ff-text: "Inter", sans-serif;
  --nav-height: 6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--clr-primary-600);
  height: 100vh;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: var(--ff-text);
  color: var(--clr-light-100);
  overflow: hidden;
}

header {
  text-align: center;
  gap: 1rem;
}
header > svg {
  width: 1rem;
}

h1,
h2,
h3,
label {
  color: var(--clr-light-400);
  font-family: var(--ff-headings);
}

h1,
h2 {
  font-size: clamp(3rem, 10vw, 5rem);
}

h3 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

svg {
  fill: var(--clr-light-100);
  aspect-ratio: 1;
}
svg:hover, svg:focus {
  fill: var(--clr-light-400);
}

.link {
  color: var(--link-color);
}
.link:hover {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.background__sqr {
  aspect-ratio: 1;
  background-color: var(--clr-primary-800);
  position: absolute;
  animation: bg 25s linear infinite;
  bottom: -100px;
  z-index: -100;
}
.background__sqr:nth-child(1) {
  left: 25%;
  width: 80px;
  animation-delay: 0s;
}
.background__sqr:nth-child(2) {
  left: 10%;
  width: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.background__sqr:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.background__sqr:nth-child(4) {
  left: 40%;
  width: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.background__sqr:nth-child(5) {
  left: 65%;
  width: 20px;
  animation-delay: 0s;
}
.background__sqr:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.background__sqr:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.background__sqr:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.background__sqr:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.background__sqr:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes bg {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 0;
  }
  100% {
    rotate: 720deg;
    bottom: 100%;
    border-radius: 50%;
  }
}
.button {
  background-color: var(--clr-primary-800);
  min-width: 7em;
  padding: 0.7em 1em;
  border-radius: 0.5rem;
  font-size: inherit;
  transition: translate 0.2s, color 0.2s;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.button:hover {
  color: var(--clr-light-400);
  translate: 0 -0.2rem;
}

.form-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 10;
}

.form {
  width: clamp(20rem, 80vw, 40rem);
  position: relative;
  padding-block: 1rem 5rem;
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 5vw, 4rem);
  background-color: var(--clr-primary-400);
  border-radius: 1rem;
}
.form__header {
  text-align: center;
}
.form__header > span {
  font-size: clamp(3rem, 10vw, 5rem);
  color: var(--clr-light-400);
}
.form__body {
  width: 60%;
  text-align: center;
  margin-inline: auto;
}
.form__group {
  text-align: left;
}
.form__group:not(:last-child) {
  margin-bottom: 1rem;
}
.form__input {
  background-color: var(--clr-primary-800);
  padding: 0.5rem 1em;
  border-radius: 0.8rem;
  width: 100%;
  margin-top: 0.5em;
}
.form__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.form__close {
  position: absolute;
  right: 0.7rem;
  width: 2rem;
  width: clamp(1rem, 4.5vw, 2rem);
}

.navigation {
  position: absolute;
  width: 100vw;
  height: var(--nav-height);
  bottom: 0;
  background-color: var(--clr-primary-800);
  z-index: 10;
}
@media (max-width: 46.875em) {
  .navigation__text {
    display: none;
  }
}
.navigation__list {
  max-width: 80rem;
  margin-inline: auto;
  height: 100%;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}
.navigation__item {
  width: 20%;
}
.navigation__link {
  display: grid;
  place-items: center;
  height: 100%;
}
.navigation__link--active, .navigation__link:hover, .navigation__link:focus {
  color: var(--clr-active);
}
.navigation__link--active > svg, .navigation__link:hover > svg, .navigation__link:focus > svg {
  fill: var(--clr-active);
}
.navigation__icon {
  width: var(--size, 2rem);
  aspect-ratio: 1;
  margin-top: 0.5rem;
}
.navigation__text {
  margin-bottom: 0.5rem;
}

.section {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  transition: translate 0.5s;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 8;
}
.section > header {
  margin-bottom: 2rem;
}
.section.inactive-right {
  translate: 100% 0;
}
.section.inactive-left {
  translate: -100% 0;
}
.section__info {
  gap: 1rem;
  position: relative;
  width: min(80%, 60rem);
  margin: auto;
  padding-block: 1rem;
}
.section__info:not(:last-child) {
  border-bottom: 3px solid var(--clr-light-400);
}
.section__info--center {
  text-align: center;
}

.label {
  gap: 0.5rem;
}
.label__icon {
  width: 1.5rem;
  aspect-ratio: 1;
  pointer-events: none;
}
.label__info {
  color: aqua;
}

#account-section {
  translate: 100%;
}

#friends-section {
  translate: 200%;
}

#leaderboards-section {
  translate: -100%;
}

#play-section {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.top-wrapper .play-buttons {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}
.top-wrapper .play-buttons__btn {
  background-color: var(--clr-primary-800);
  width: clamp(2.5rem, 10vw, 4rem);
  display: inline-grid;
  place-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.top-wrapper .play-buttons__btn > svg {
  pointer-events: none;
}
.top-wrapper .play-buttons__btn:hover > svg, .top-wrapper .play-buttons__btn:focus > svg {
  fill: var(--clr-light-400);
}
.top-wrapper .play-buttons__icon {
  width: 60%;
  aspect-ratio: 1;
}
.top-wrapper .game-score {
  width: clamp(8rem, 12vw, 10rem);
  background-color: var(--clr-primary-800);
  display: grid;
  place-items: center;
  box-shadow: 0 0.2rem 0 4px rgba(0, 0, 0, 0.2);
}
.top-wrapper .game-score__score {
  font-size: 4rem;
  color: var(--clr-light-400);
}
@media (max-width: 37.5em) {
  .top-wrapper {
    flex-direction: column;
  }
  .top-wrapper > header {
    order: 1;
    margin-bottom: 1rem;
  }
  .top-wrapper .game-score {
    order: 3;
  }
  .top-wrapper .play-buttons {
    order: 2;
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
  }
}

.simon-game {
  margin: auto;
  display: grid;
  place-items: center;
}
.simon-game__outer-circle {
  width: clamp(15rem, 70vw, 30rem);
  position: relative;
  background-color: var(--clr-primary-800);
  border: 3px solid var(--clr-light-400);
  z-index: 0;
}
.simon-game__tile {
  position: absolute;
  width: 45%;
  top: 50%;
  right: 50%;
  transform-origin: top right;
  border-radius: 0 0 0 100%;
  background-color: var(--tile-color);
  z-index: 1;
}
.simon-game__tile--active {
  box-shadow: 0 0 0.5rem 0.5rem var(--tile-color);
  z-index: 2;
}
.simon-game__tile--inactive {
  background-color: var(--tile-color-opaque);
}
.simon-game__tile--green {
  --tile-color: var(--clr-green);
  --tile-color-opaque: var(--clr-green-opaque);
  rotate: 90deg;
}
.simon-game__tile--red {
  --tile-color: var(--clr-red);
  --tile-color-opaque: var(--clr-red-opaque);
  rotate: 180deg;
}
.simon-game__tile--blue {
  --tile-color: var(--clr-blue);
  --tile-color-opaque: var(--clr-blue-opaque);
  rotate: 270deg;
}
.simon-game__tile--yellow {
  --tile-color: var(--clr-yellow);
  --tile-color-opaque: var(--clr-yellow-opaque);
}
.simon-game__inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  background-color: var(--clr-primary-800);
  translate: -50% -50%;
  display: grid;
  place-items: center;
  z-index: 3;
}
.simon-game__inner-circle span {
  position: absolute;
  color: var(--clr-primary-800);
  font-size: clamp(1rem, 5vw, 2rem);
  text-transform: uppercase;
}
.simon-game__inner-circle::before {
  content: "";
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-light-400);
}
.simon-game__inner-circle--inactive {
  pointer-events: none;
}
.simon-game__inner-circle--inactive::before {
  background-color: var(--clr-light-100);
}
.simon-game__cross {
  display: none;
  width: 20%;
  fill: var(--clr-red);
  animation: flash 0.5s forwards;
  z-index: 10;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#theme-section {
  translate: -200%;
}
