extends formBase 

block formBody 
    +createInput('password', 'password', 'New Password', '*******')
    +createInput('passwordConfirm', 'password', 'Confirm Password', '*******')

block formButtons 
    button.button(data-token=`${token}`) Submit