.form-modal {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0 0 0 / 0.5);
	display: grid;
	place-items: center;
}

.form {
	width: clamp(20rem, 80vw, 40rem);
	position: relative;
	padding-block: 1rem 5rem;
	display: flex;
	flex-direction: column;
	gap: clamp(2rem, 5vw, 4rem);
	background-color: var(--clr-primary-400);
	border-radius: 1rem;

	&[data-form='add-friends'] {
		height: 40rem;
		height: clamp(30rem, 80vw, 40rem);
	}

	&__header {
		text-align: center;

		& > span {
			font-size: clamp(3rem, 10vw, 5rem);
			color: var(--clr-light-400);
		}
	}

	&__body {
		width: 60%;
		text-align: center;
		margin-inline: auto;
	}

	&__group {
		text-align: left;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__input {
		background-color: var(--clr-primary-800);
		padding: .5rem 1em;
		border-radius: .3em;
		width: 100%;
		margin-top: .5em;
		border: 3px solid transparent;

		&:focus {
			border: 3px solid var(--clr-light-400);
			outline: none;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}

	&__close {
		position: absolute;
		right: 0.7rem;
		width: 2rem;
		width: clamp(1rem, 4.5vw, 2rem);
	}

	&__search {
		background-color: var(--clr-primary-800);
		border-radius: 5rem;
		padding: .5rem;
		position: relative;
		margin-bottom: 3rem;

		&:focus-within {
			outline: 3px solid var(--clr-light-400);
		}

		& svg {
			width: 5%;
			min-width: 1rem;
			position: absolute;
			top: 50%;
			left: 1rem;
			translate: 0 -50%;
		}

		& input {
			background-color: transparent;
			text-align: center;
			padding-inline: 2rem;
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}
}
