.section {
	position: absolute;
	width: 100%;
	height: calc(100vh - var(--nav-height));
	transition: translate 0.5s;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	will-change: translate;
	z-index: 8;

	& > header {
		margin-bottom: 2rem;
	}

	&.inactive-right {
		translate: 100% 0;
	}

	&.inactive-left {
		translate: -100% 0;
	}

	&__info {
		gap: 1rem;
		position: relative;
		width: min(80%, 60rem);
		margin: auto;
		padding-block: 1rem;

		&:not(:last-child) {
			border-bottom: 3px solid var(--clr-light-400);
		}

		&--center {
			text-align: center;
		}
	}
}

.label {
	gap: 0.5rem;

	&__icon {
		width: 1.5rem;
		aspect-ratio: 1;
		pointer-events: none;
	}

	&__info {
		color: aqua;
	}
}
