.leaderboard-type {
	&__option {
		display: inline-block;
        cursor: pointer;

		&--inactive {
			color: var(--clr-light-100);

            &:hover {
                color: var(--clr-light-400);
            }
		}
	}
}

.leaderboard {
	width: min(80%, 60rem);
	// background-color: orangered;
	margin-inline: auto;

	& .label {
        padding: .5em 1rem;
        display: flex;
        align-items: center;

		&:not(:last-child) {
			border-bottom: 2px solid var(--clr-light-400);
		}

        &__text:last-child {
            margin-left: auto;
        }
	}
}
